<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add connectionString="metadata=res://*/DataModel.BannerModelEntity.csdl|res://*/DataModel.BannerModelEntity.ssdl|res://*/DataModel.BannerModelEntity.msl;provider=System.Data.SqlClient;provider connection string='data source=119.59.122.206;User ID=adminbig;Password=admin;initial catalog=BIG-Database;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework;'" name="BannerEntities" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>