<!DOCTYPE html>
<html>
<head>
    <title>B.I.G Interguard - บีไอจี อินเตอร์การ์ด รปภ. บริการรักษาความปลอดภัยทั่วราชอาณาจักร บริษัท ร ป ภ บีไอจี,บีไอจี อินเตอร์การ์ด,Interguardsafe group,big safeguard group,บริษัทรักษาความปลอดภัย ราย ชื่อ ,บริษัท ร ป ภ,บริษัท ร ป ภ สมุทรสาคร ,เจ้าหน้าที่ รักษา ความ ปลอดภัย
การ รักษา ความ ปลอดภัย รักษาความปลอดภัย,พนักงาน รักษา ความ ปลอด ภัย,บริษัท รปภ ความปลอดภัย,ยาม,บริษัทยาม,พนักงานรปภ,บริษัท รปภ.,พนักงาน รปภ.,คนเฝ้าประตู รักษา ความ ปลอดภัย,บริษัทรักษาความปลอดภัย กรุงเทพ,บริษัทรปภ,พนักงานรักษาความปลอดภัย,ราย ชื่อ บริษัท รักษา ความ ปลอดภัย,บริษัท รักษา ความ ปลอดภัย ราย ชื่อ,บริษัท รักษา ความ ปลอดภัย,บริษัทรักษาความปลอดภัย สมุทรปราการ,บริษัทรักษาความปลอดภัย นนทบุรี,บริษัทรักษาความปลอดภัย บางบัวทอง,บริษัทรักษาความปลอดภัย ปทุมธานี,บริษัทรักษาความปลอดภัย นครปฐม,บริษัทรักษาความปลอดภัย สุพรรณบุรี,บริษัทรักษาความปลอดภัย อยุธยา,บริษัทรักษาความปลอดภัย สระบุรี,บริษัทรักษาความปลอดภัย นครราชสีมา,บริษัทรักษาความปลอดภัย กาญจนบุรี,บริษัทรักษาความปลอดภัย สมุทรสาคร,บริษัทรักษาความปลอดภัย เพชรบุรี,บริษัท รักษา ความ ปลอดภัย ชลบุรี,บริการรปภ. บริการพนักงานรักษาความปลอดภัย,เจ้าหน้าที่รปภ,บริการเจ้าหน้าที่รปภ,การรักษาความปลอดภัย,สุดยอดการรักษาความปลอดภัย,เจ้าหน้าที่รักษาความปลอดภัย,ระเบียบรักษาความปลอดภัย,ระบบรักษาความปลอดภัย</title>
    <META name="robots" content="index,follow">
    <META content="บริษัท ร ป ภ บีไอจี,บีไอจี อินเตอร์การ์ด,Interguardsafe group,big safeguard group,บริษัทรักษาความปลอดภัย ราย ชื่อ ,บริษัท ร ป ภ,บริษัท ร ป ภ สมุทรสาคร ,เจ้าหน้าที่ รักษา ความ ปลอดภัย
การ รักษา ความ ปลอดภัย รักษาความปลอดภัย,พนักงาน รักษา ความ ปลอด ภัย,บริษัท รปภ ความปลอดภัย,ยาม,บริษัทยาม,พนักงานรปภ,บริษัท รปภ.,พนักงาน รปภ.,คนเฝ้าประตู รักษา ความ ปลอดภัย,บริษัทรักษาความปลอดภัย กรุงเทพ,บริษัทรปภ,พนักงานรักษาความปลอดภัย,ราย ชื่อ บริษัท รักษา ความ ปลอดภัย,บริษัท รักษา ความ ปลอดภัย ราย ชื่อ,บริษัท รักษา ความ ปลอดภัย,บริษัทรักษาความปลอดภัย สมุทรปราการ,บริษัทรักษาความปลอดภัย นนทบุรี,บริษัทรักษาความปลอดภัย บางบัวทอง,บริษัทรักษาความปลอดภัย ปทุมธานี,บริษัทรักษาความปลอดภัย นครปฐม,บริษัทรักษาความปลอดภัย สุพรรณบุรี,บริษัทรักษาความปลอดภัย อยุธยา,บริษัทรักษาความปลอดภัย สระบุรี,บริษัทรักษาความปลอดภัย นครราชสีมา,บริษัทรักษาความปลอดภัย กาญจนบุรี,บริษัทรักษาความปลอดภัย สมุทรสาคร,บริษัทรักษาความปลอดภัย เพชรบุรี,บริษัท รักษา ความ ปลอดภัย ชลบุรี,บริการรปภ. บริการพนักงานรักษาความปลอดภัย,เจ้าหน้าที่รปภ,บริการเจ้าหน้าที่รปภ,การรักษาความปลอดภัย,สุดยอดการรักษาความปลอดภัย,เจ้าหน้าที่รักษาความปลอดภัย,ระเบียบรักษาความปลอดภัย,ระบบรักษาความปลอดภัย " name=Keywords>
    <META content="บริษัทรปภ พนักงานรักษาความปลอดภัย" name=Description>
    <meta http-equiv="content-language" content="th" />
    <meta http-equiv="content-type" content="text/html" ; charset="UTF-8" />
    <meta name="revisit-after" content="7 days" />

    <link rel="icon" href="~/Content/Image/newLogo-Interguard.png">
    <link href="~/Scripts/CSS/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Scripts/CSS/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--fonts-->
    @*<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>*@
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <!--//fonts-->
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- js -->
    <script type="text/javascript" src="~/Scripts/JS/jquery.min.js"></script>
    <!-- js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
    </script>
    <!-- start-smoth-scrolling -->


</head>
<body style="font-family: 'Prompt', sans-serif;">
    <!--Header-->
    <div id="home" class="header">
        <div class="container">
            <div class="header-grid">
               
                <div class="logo" style="margin-top:15px;margin-bottom:5px">
                    <a href="javascript:window.location.reload();"><img style="float:left;clear:both;width:100%" src="~/Content/Image/Logo-Interguard (1).png" alt="" /></a>
                    @*<a href="javascript:window.location.reload();"><p style="margin-top:23px;display:inline-block;color:white;font-size:20px">บริษัท บี.ไอ.จี อินเตอร์การ์ด</p></a>*@
                  

                </div>
         
                <div class="navigation" style="float:right;text-align:center">
                    <span class="menu"><img src="~/Content/Image/menu.png" alt="" /></span>
                    <ul class="nav1" style="padding-top:20px;">
                        <li><a class="" href="javascript:window.location.reload();">หน้าหลัก</a></li>
                        <li><a class="scroll" href="#about">เกี่ยวกับเรา</a></li>
                        <li><a class="scroll" href="#services">บริการของเรา</a></li>
                        <li><a class="scroll" href="#customer">ลูกค้าของเรา</a></li>
                        <li><a style="padding:10px 10px;font-size:20px;color:gold" class="scroll" href="#pricing">ขอใบเสนอราคา*</a></li>
                        <li><a class="scroll" href="#contact">ติดต่อเรา</a></li>
                    </ul>
                    <script>

							$( "span.menu" ).click(function() {
							$( "ul.nav1" ).slideToggle( 300, function() {

							});
							});
                    </script>
                </div>
               
             
                @*<div class="social-icons">
                        <ul>
                            <li><a href="#" class="fb"></a></li>
                            <li><a href="#" class="googl"></a></li>
                            <li><a href="#" class="twit"></a></li>
                        </ul>
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//Header-->
    <!--Body-->

    @RenderBody()

    <!--//Body-->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <p>Copyright &copy; 2017 กลุ่มบริษัท บี.ไอ.จี. อินเตอร์การ์ด <a href="#"> </a></p>
            <a class="scroll" href="#home"><img src="~/Content/Image/1.png" alt="" /></a>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //footer -->
</body>
</html>

<script src="~/Scripts/JS/jquery.flexisel.js"></script>
<script src="~/Scripts/JS/modernizr.custom.min.js"></script>
<script src="~/Scripts/JS/responsiveslides.min.js"></script>
<script src="~/scripts/js/easyresponsivetabs.js"></script>


